  <div class="footer">
         <!--container-->
         <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6">
               <h1>Investments</h1>
               <ul>
                  <li><a href="<%= investment_path %>">Featured Opportunities</a></li>
                  <li><a href="<%= investment_path %>#sec2">Selection Criteria</a></li>
               </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-6">
               <h1>About Us</h1>
               <ul>
                  <li><a href="<%= about_path %>#sec1">Overview</a></li>
                  <li><a href="<%= about_path %>#sec2">Team</a></li>
                  <li><a href="<%= about_path %>#sec4">Contact Us</a></li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3  col-xs-6">
               <h1>Our Approach</h1>
               <ul>
                  <li><a href="<%= approach_path %>#sec1">How Does It Work?</a></li>
                  <li><a href="<%= approach_path %>#sec2">What Sets Us Apart?</a></li>
                  <li><a href="<%= approach_path %>#sec4">FAQs for Investors</a></li>
                  <li><a href="<%= approach_path %>#sec5">FAQs for Companies</a></li>
                  <li><a href="<%= approach_path %>#sec6">FAQs for Syndicates</a></li>
               </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-6">
               <h1>Legal</h1>
               <ul>
                  <li><a href="<%= legal_path %>#sec1">Privacy Policy</a></li>
                  <li><a href="<%= legal_path %>#sec2">Terms of Service</a></li>
                  <li><a href="<%= legal_path %>#sec3">Disclaimer</a></li>
               </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2  col-xs-6">
               <h1>EMF</h1>
               <ul>
                  <li><a href="http://www.emergingfrontiers.com/home">Main Site</a></li>
                  <li><a href="<%= blogs_path %>">Blogs</a></li>
               </ul>
            </div>
         </div>
         <!--container-->
         <div class="btm">
            <div class="container">
               <p>Copyrights @2014 Emerging Frontiers All rights Reserved</p>
            </div>
         </div>
      </div>