<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="p2n_1DEm52gdQsVtOtUSZ-meVXWjOyZlnsKv3cLEBiM" />
      <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
      <title>Emerging Frontiers</title>

      <link rel="stylesheet" type="text/css" href="/assets/style.css">
      <link rel="stylesheet" type="text/css" href="/assets/custom.css">
      <!--jQuery-->
      <script src="/assets/jquery.min.js"></script>
      <script src="/assets/custom.js"></script>
      <!--jQuery-->
      <!--font attched-->
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
      <script type="text/javascript">
         WebFontConfig = {
         google: { families: [ 'Open+Sans:400,600,300:latin' ] }
         };
         (function() {
         var wf = document.createElement('script');
         wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
         '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
         wf.type = 'text/javascript';
         wf.async = 'true';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(wf, s);
              })();
              
      </script>
      <!--font attched-->
      <!--boostrap-->
      <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
      <script src="/assets/bootstrap.min.js"></script>
      <!--boostrap-->
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script>
         $(function() {
         	var pull 		= $('#pull');
         		menu 		= $('nav ul');
         		menuHeight	= menu.height();
         
         	$(pull).on('click', function(e) {
         		e.preventDefault();
         		menu.slideToggle();
         	});
         
         	$(window).resize(function(){
               		var w = $(window).width();
               		if(w > 320 && menu.is(':hidden')) {
               			menu.removeAttr('style');
               		}
           		});
         });
      </script>
      <!----start-slider-script---->
      <link rel="stylesheet" type="text/css" href="/assets/rslide.css">
      <script src="/assets/responsiveslides.min.js"></script>
      <script>
         // You can also use "$(window).load(function() {"
         $(function () {
           // Slideshow 4
           $("#slider4").responsiveSlides({
             auto: true,
             pager: true,
             nav: true,
             speed: 500,
             namespace: "callbacks",
             before: function () {
               $('.events').append("<li>before event fired.</li>");
             },
             after: function () {
               $('.events').append("<li>after event fired.</li>");
             }
           });
         
         });
      </script>
      <!----//End-slider-script---->
<link rel="stylesheet" type="text/css" href="/assets/accordion.css">
   </head>
   <body>
   <span id="demoTop" title="Going Up?" data-placement="top" data-toggle="tooltip"><a id="scrollToTop" style="display: block;padding:5px;" href="javascript:;">Top</a></span>
      <!--header-->
      <div class="header">
         <!--topbar-->
         <%= render :partial => "/layouts/shared/top_bar.html.erb" %>
         <!--topbar--> 
         <!--navbar-->
         <%= render :partial => "/layouts/shared/header.html.erb" %>
         <!--navbar--> 
      </div>
      <!--header-->
      <div class="clearfix"></div>
      <div class="row">
      <!-- Slideshow 4 -->
      <div id="top" class="callbacks_container invest">
            <ul class="rslides" id="slider4">
               <li>
                  <img src="/assets/invest1.jpg" alt="">
                  <div class="caption">
                     <div class="slide-text-info">
                        <h1>Our Approach</h1>
                        <p>Direct access to institutional-quality companies and projects - and the power of choice returned to the investor</p>
                        
                     </div>
                 <div class="clearfix">
                 <div class="newslet">
                  <form>
                     <!-- <input type="text" class="textfield" placeholder="Enter your Email"> -->
                     <input type="button" value="Subscribe To Our Newsletter" class="subbtn fix-subscribe-btn subscripe-email">
                  </form>
               </div>
                  </div>
               </li>
               <li>
                  <img src="/assets/invest2.jpg" alt="">
                  <div class="caption">
                     <div class="slide-text-info">
                        <h1>Our Approach</h1>
                        <p>Direct access to institutional-quality companies and projects - and the power of choice returned to the investor</p>
                        
                     </div>
                <div class="clearfix">
                 <div class="newslet">
                  <form>
                     <!-- <input type="text" class="textfield" placeholder="Enter your Email"> -->
                     <input type="button" value="Subscribe To Our Newsletter" class="subbtn fix-subscribe-btn subscripe-email">
                  </form>
               </div>
                  </div>
               </li>
               <li>
                  <img src="/assets/invest3.jpg" alt="">
                  <div class="caption">
                     <div class="slide-text-info">
                        <h1>Our Approach</h1>
                        <p>Direct access to institutional-quality companies and projects - and the power of choice returned to the investor</p>
                        
                     </div>
               <div class="clearfix">
                 <div class="newslet">
                  <form>
                     <!-- <input type="text" class="textfield" placeholder="Enter your Email"> -->
                     <input type="button" value="Subscribe To Our Newsletter" class="subbtn fix-subscribe-btn subscripe-email">
                  </form>
               </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="clearfix"></div>
      <!----- //End-slider---->
      </div>
      <div class="clearfix"></div>
      <!--navbar2-->
      <div class="navbar2">
         <!--container-->
         <div class="container">
            <ul>
               <li><a class="active" href="<%= approach_path %>#sec1">How Does It Work?</a></li>
               <li><a href="<%= approach_path %>#sec2">What Sets Us Apart?</a></li>

               <li><a href="<%= approach_path %>#sec4">FAQs for Investors</a></li>
               <li><a href="<%= approach_path %>#sec5">FAQs for Companies</a></li>
               <li><a href="<%= approach_path %>#sec6">FAQs for Syndicates</a></li>               
            </ul>
         </div>
         <!--container-->
      </div>
      <!--navbar2-->
      <div class="clearfix"></div>
      <!--section1-->
      <%= @approach.description.html_safe %>
      <!--section6-->
      <div class="clearfix"></div>
      
      
      
      
      <!--footer-->
      <%= render :partial => "/layouts/shared/footer.html.erb" %>
      <!--footer-->
       <!-- subcribe popup -->
      <%= render :partial => "/layouts/shared/subscribe.html.erb" %>
      <!-- /subcribe popup -->
      <script>
         $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
         if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
         	$('html,body').animate({
         	  scrollTop: target.offset().top
         	}, 1000);
         	return false;
           }
         }
          });
         });
      </script>
        <!--back to top-->
      <script>	
         $(window).scroll(function() {    
         var scroll = $(window).scrollTop();
         if (scroll >= 600) {
             $("#demoTop").addClass("view", 2000);
         }	 
         var scroll = $(window).scrollTop();
         if (scroll <= 600) {
             $("#demoTop").removeClass("view", 2000);
         }
         
         });     
      </script> 
      		<script type = "text/javascript">
            $(function () {
                $('#scrollToTop').bind("click", function () {
                    $('html, body').animate({ scrollTop: 0 }, 800);
                    return false;
                });
                
                //bind event to modal
                $(".subscripe-email").bind("click",function(){
                  landing_modal.show();
                });
            });
        </script>
      <!--back to top-->
<!--google analytics-->
<%= render :partial => "/layouts/shared/google_analytics" %>
<!--google analytics-->
   </body>
</html>